h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #069c54;
  font-size: 2rem;
  line-height: 1.2;
}
h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #069c54;
  
  line-height: 1.2;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}


a:hover {
  opacity: 0.9;
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

p {
  font-weight: bold;
}


.grid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._3c-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._3c-grid.special-grid {
  -ms-grid-columns: 1fr 2.25fr 1fr;
  grid-template-columns: 1fr 2.25fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid._4c-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid._4c-grid._4c-grid-special {
  overflow: hidden;
  padding-bottom: 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-style: solid;
  border-color: #0af;
}

.grid._5c-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid._6c-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid._8c-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

._24p-divider {
  display: block;
  width: 24px;
  height: 24px;
}

._24p-divider.side {
  display: inline-block;
}

._64p-divider {
  display: block;
  width: 64px;
  height: 64px;
}

._40p-divider {
  display: block;
  width: 40px;
  height: 40px;
}

._16p-divider {
  display: block;
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.solid-button {
  padding: 0.8rem 1.6rem;
  border-style: solid;
  border-width: 2px;
  border-color: #0af;
  border-radius: 4px;
  background-color: #0af;
  font-weight: 800;
}

.solid-button.solid-button-white {
  border-color: #fff;
  background-color: #fff;
  color: #0af;
}

.solid-button.submit-variant {
  display: inline;
}

.section {
  position: relative;
  z-index: 0;
  padding-top: 128px;
  padding-bottom: 128px;
}

.section.section_64p-padding {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section.section_0p-padding-copy {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* .container {
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
} */

.container.container_tc-white {
  color: #fff;
}

.outlined-button {
  padding: 0.8rem 1.6rem;
  border-style: solid;
  border-width: 2px;
  border-color: #0af;
  border-radius: 4px;
  background-color: transparent;
  color: #0af;
}

.outlined-button.outlined-button-white {
  border-color: #fff;
  color: #fff;
}

.section-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.section-bg.section-bg_98-blue-gray {
  background-color: #f9f9fe;
}

.section-bg.section-bg_96-blue-gray-copy {
  background-color: #edf3fd;
}

.section-bg.section-bg_primaryblue {
  background-color: #0af;
}

/* .container-2 {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
} */

.text-field {
  border-radius: 4px;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.grid-text-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-text-column.grid-column_centred {
  text-align: center;
}

.grid-text-column.opp {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.grid-text-column._64p-padding-left {
  margin-right: 64px;
}

.grid-text-column._64p-padding-right {
  margin-left: 64px;
}

.wave-down {
  display: block;
  width: 100%;
}

.wave-up {
  display: block;
  width: 100%;
}

.sub-title {
  font-size: 1.6rem;
  font-weight: 800;
}

.hero-section {
  margin-top: 90px;
  padding-top: 128px;
  background-color: #0af;
}

.hero-section.gray {
  background-color: #edf3fd;
}

.hero-paragraph {
  font-size: 1.4rem;
}

.hero-paragraph.hero-paragraph-white {
  color: #333;
}

.hero-content {
  color: #fff;
}

.hero-image_home {
  position: relative;
  overflow: hidden;
  height: 40vh;
  padding: 24px;
  border-radius: 16px;
  background-image: url('../images/Hero-Image_Home.png');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-image_home.no-image {
  height: 40vh;
  background-image: none;
  background-size: auto;
}

.watch-button {
  position: absolute;
  left: auto;
  top: 24px;
  right: 24px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

._40p-icon {
  width: 40px;
}

.wave-hero-image {
  width: 100%;
  margin-top: 128px;
}

.logo {
  opacity: 0.85;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.logo:hover {
  opacity: 1;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}

.title-block {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.title-block.title-block_tc-white {
  color: #fff;
}

.stroke {
  height: 4px;
  background-color: #edf3fd;
}

.h3_tc-primaryblue {
  color: #0af;
}

.section-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 64px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
}

.section-card.bg-image {
  height: 50vh;
  background-image: url('../images/delivery-image.png');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.site-image {
  border-radius: 16px;
}

.testimonial-slider-mask {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.avatar {
  width: 8rem;
}

.testimonial-user-title {
  padding-left: 20px;
  border-top: 1px none #000;
  border-right: 1px none #000;
  border-bottom: 1px none #000;
  font-size: 1rem;
  line-height: 1.5;
}

.right-arrow-3 {
  display: none;
}

.container-copy {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider {
  height: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left-arrow-3 {
  left: 0%;
  top: auto;
  right: 64px;
  bottom: 0%;
  display: none;
  width: 64px;
  height: 64px;
}

.div-block-7 {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.section-2 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-2.testimonial-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.slide {
  height: 32rem;
  padding: 100px 40px;
  background-image: linear-gradient(24deg, #03a9f4, #0082ca);
}

.slide.col3 {
  background-image: linear-gradient(24deg, #7b95ff, #00c8ff);
}

.slide.col2 {
  background-image: linear-gradient(24deg, #8d7bff, #0091ff);
}

.avatar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-paragraph {
  margin-bottom: 40px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}


.learnmorelink {
  display: block;
  margin-top: 24px;
  color: #03a9f4;
}

.learnmorelink.absolute {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.helpcentrelinktext {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.helpcentrecontent {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 40%;
  -ms-flex: 0 40%;
  flex: 0 40%;
}

.divider {
  width: 2px;
  margin-right: 32px;
  margin-left: 32px;
  background-color: #333;
}

.learnmoretext {
  display: inline-block;
  margin-right: 16px;
}

.sectiontitleblock {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-left: 20px;
  text-align: center;
}

.h3-text-blue {
  color: #03a9f4;
}

.helpcentrelink {
  position: relative;
  padding: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.helpcentrecontentdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.helpcentreblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-column.grid-column_flexh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

._80p-icon {
  width: 80px;
}

.h1_tc-primaryblue {
  color: #0af;
}

.rejareja {
  display: block;
}

._128p-divider {
  display: block;
  width: 128px;
  height: 128px;
}

.image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 40px 30px 40px 40px;
  border-radius: 16px;
  background-image: url('../images/Grid-Wrapper-Background-Image-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.image-2 {
  margin-bottom: -40px;
}

.section-row {
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
}

.features-content {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 40%;
  -ms-flex: 0 40%;
  flex: 0 40%;
}

.image-3 {
  margin-right: -32px;
  margin-left: 40px;
}

.our-story-image-wrapper {
  position: relative;
}

.our-story-image-wrapper-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(42%, hsla(0, 0%, 100%, 0)), to(#fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 42%, #fff);
}

.h2_tc-white {
  color: #fff;
}

.special-grid-column {
  padding: 20px;
  border: 1px solid #fff;
}

.special-grid-column.centred {
  text-align: center;
}

.milestone-icons {
  height: 32px;
}

.special-grid-wrapper {
  position: relative;
}

.div-block-9 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-style: solid;
  border-width: 4px;
  border-color: #0af;
}

.team-member--linkedin-icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 10px;
  bottom: 10px;
  z-index: 20;
  border-radius: 3px;
  background-color: #fff;
}

.team-member--image-wrapper {
  position: relative;
  width: 100%;
}

.team-member--name {
  margin-top: 0px;
  margin-bottom: 2px;
}

.team-member--image {
  z-index: 10;
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-member--detail-wrapper {
  padding: 20px;
}

.team-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.team-grid._6 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.team-member {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #fff;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  color: #333;
  text-decoration: none;
}

.team-member:hover {
  border-radius: 8px;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}

.team-member.team-member__centre-align {
  text-align: center;
}

.team-member.team-member__centre-align.join-us {
  display: none;
}

.text-block-2 {
  font-size: 12px;
}

.medialink {
  -webkit-box-flex: 0;
  -webkit-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%;
}

.media-logo {
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}

.media-logo.media-logo-large {
  width: 100px;
  height: auto;
}

.image-6 {
  border-radius: 8px;
}

.career-embed-wrapper {
  padding: 24px;
  border-radius: 16px;
  background-color: #f9f9fe;
}

.contact-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.08);
  color: #333;
  text-decoration: none;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.productheroicon {
  margin: 12px;
}

.productheroicon.small {
  width: 4rem;
}

.benefitssection {
  text-align: center;
}

.highlightscontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #f9f9fe;
  text-align: left;
}

.popup-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 7;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.form-block {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
}


.image-7 {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.4rem;
  }

  .grid {
    grid-column-gap: 24px;
  }

  .grid._4c-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid._5c-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid._6c-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid.hero {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid.hero.special {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid._8c-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  ._64p-divider {
    width: 56px;
    height: 56px;
  }

  ._40p-divider {
    width: 32px;
    height: 32px;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.section_64p-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .menu-button {
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .menu-button-2 {
    background-color: transparent;
  }

  .menu-button-2.w--open {
    background-color: transparent;
    color: #0af;
  }

  .footer-title {
    margin-bottom: 10px;
  }

  .hero-section {
    padding-top: 64px;
  }

  .hero-paragraph {
    font-size: 1.2rem;
  }

  .hero-image_home {
    height: 40vh;
  }

  .wave-hero-image {
    margin-top: 64px;
  }

  .section-card.bg-image {
    height: 25vh;
    background-size: contain;
  }

  .section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .learnmorelink.absolute {
    position: relative;
  }

  .helpcentrecontent {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 32px 0px;
  }

  .helpcentreblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._128p-divider {
    width: 56px;
    height: 56px;
  }

  .grid-wrapper {
    padding: 20px;
  }

  .section-row {
    padding: 20px;
  }

  .features-content {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .image-3 {
    margin-right: -23px;
  }

  .team-member--image {
    width: 100%;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .team-grid._6 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .medialink {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }

  .media-logo {
    padding: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-6 {
    display: block;
    width: 100%;
  }

 
}

@media screen and (max-width: 767px) {
  .footerimage {
    width: 1rem;
  }

  .footertextcontainer {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footertextcontainer.flexcentre {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-card.bg-image {
    height: 16vh;
  }

  .section-2 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .slide {
    height: 23.2rem;
    padding: 2rem 0px;
  }

  .testimonial-paragraph {
    font-size: 1.2rem;
  }

  .helpcentrelinktext {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sectiontitleblock {
    margin-bottom: 32px;
  }

  .helpcentrelink {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .helpcentrecontentdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .helpcentreblock {
    text-align: center;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .team-grid._6 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .medialink {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .media-logo {
    height: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .productheroicon {
    width: 8rem;
  }

  .popup-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid._3c-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid._3c-grid.special-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid._4c-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid._5c-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid._6c-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid.hero.special {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid._8c-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  ._64p-divider {
    width: 24px;
    height: 24px;
  }

  ._40p-divider {
    width: 24px;
    height: 24px;
  }

  ._16p-divider {
    display: block;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.section_64p-padding {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .dropdown-list.w--open {
    overflow: hidden;
  }

  .footertextcontainer.flexcentre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footertextcontainer.flexcentre.side {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footertext.rm20 {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .grid-text-column.opp {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .grid-text-column._64p-padding-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .grid-text-column._64p-padding-right {
    width: 100%;
    margin-top: 24px;
    margin-left: 0px;
  }

  .hero-section {
    padding-top: 32px;
  }

  .hero-paragraph {
    font-size: 1rem;
  }

  .hero-image_home {
    height: 20vh;
  }

  .hero-image_home.no-image {
    height: 30vh;
  }

  .wave-hero-image {
    margin-top: 32px;
  }

  .logo {
    height: 36px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .section-card {
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-card.bg-image {
    height: 40vh;
    background-position: 91% 100%;
    background-size: auto 70%;
  }

  .avatar {
    width: 4rem;
  }

  .testimonial-user-title {
    font-size: 0.8rem;
  }

  .right-arrow-3 {
    display: none;
  }

  .section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .slide {
    height: 28rem;
  }

  .testimonial-paragraph {
    font-size: 1.4rem;
  }

  .learnmorelink {
    margin-top: 16px;
  }

  .helpcentrecontent {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .grid-column {
    text-align: center;
  }

  ._128p-divider {
    width: 24px;
    height: 24px;
  }

  .image {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .section-row {
    padding: 10px;
  }

  .features-content {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .image-3 {
    margin-right: -46px;
    margin-bottom: -44px;
    margin-left: 22px;
  }

  .special-grid-column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .team-member--name {
    font-size: 0.9rem;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .team-grid._6 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .team-member--title {
    font-size: 0.8rem;
  }

  .image-5 {
    display: none;
  }

  .medialink {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .media-logo {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .career-embed-wrapper {
    padding: 10px;
  }

  .productheroicon {
    width: 20%;
    margin-bottom: 0px;
  }

  .popup-wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }

  .form-block {
    padding: 24px;
  }


}

#w-node-c1ff29af-4730-0935-d0d7-42b3972f631d-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fd91b8ca-abec-2220-b276-516a8bfce9ea-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0a141c05-ee7f-8167-a9be-f80d4a6174b7-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_670eed6c-3a20-4389-8068-b25e5d2ccfb2-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ed433ef2-17b4-35e0-877d-a1604e983b25-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4eea0d31-718a-b1a0-9c54-b5b11e9dcd75-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_20abea0a-3684-e0f1-130b-b5f332d0ee86-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ed1bc23d-568f-fcb7-2ebf-b9697ed3cf8b-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_1939f6c7-c35f-9b5b-cde8-d677d8ee72f1-bbbeb056 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a4a54cab-6b78-88dd-14ec-dde04e400e2b-bbbeb056 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7ad83e64-07a6-03d5-b4ac-f7c6d83a6a7b-bbbeb056 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ad7e15bb-7eee-9d6c-fd1b-8ce05cefde5d-bbbeb056 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_01f4db88-1635-e4f8-0578-853bba607892-bbbeb056 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_53b678c8-b5f3-9535-c10c-804c684e20c0-684e2071 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_53b678c8-b5f3-9535-c10c-804c684e20c5-684e2071 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0ce7c5e-f7ce-5279-0ee7-9d592995bd76-2995bd71 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c0ce7c5e-f7ce-5279-0ee7-9d592995bd77-2995bd71 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c0ce7c5e-f7ce-5279-0ee7-9d592995bd7d-2995bd71 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cd2efed8-c9ed-f44b-fb09-60d8619535b3-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_7141d884-4efd-29e4-9b29-444c7aea4656-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_96d6009e-061f-cbc6-4f08-744cd2e8bc0e-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_748f4337-4470-d14f-e71f-95536eb3d2de-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_604138fe-01db-f08e-2435-f1b198beefdb-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4cda58e3-5b38-393d-6b7e-d1d85d583f01-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_66580092-2faa-b187-75dd-e51d7b57b3ce-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c1398802-c8c3-0f64-72d3-3d161bc9becb-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_03827a51-78be-3175-ecfa-78fdc70a3e4a-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_03827a51-78be-3175-ecfa-78fdc70a3e4f-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_03827a51-78be-3175-ecfa-78fdc70a3e54-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7b7de328-12cb-01f1-7914-6bd9e39de5b7-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_549dcd9c-fca7-c9e5-381a-4865b586236c-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_549dcd9c-fca7-c9e5-381a-4865b5862371-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_549dcd9c-fca7-c9e5-381a-4865b5862376-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d61c7c77-b654-72ea-5701-4c0174ceb3aa-011ac95e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_41e72cc5-eeb6-cc34-ea1a-c023d56abb7c-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_41e72cc5-eeb6-cc34-ea1a-c023d56abb84-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_867b2f1e-44e8-a3fa-c0c6-ccf75183d26c-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_867b2f1e-44e8-a3fa-c0c6-ccf75183d271-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_867b2f1e-44e8-a3fa-c0c6-ccf75183d276-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_469cdca1-f548-e144-5f70-61b1985e4a55-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-acd57d6e-8540-8a12-b12f-7da2e229557c-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_324d3a41-8579-d66e-2c2e-5e08318765e0-101ac990 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ed26e5af-5b0c-3d56-b697-06a4efc52851-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ed26e5af-5b0c-3d56-b697-06a4efc52853-101ac990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ed26e5af-5b0c-3d56-b697-06a4efc5285b-101ac990 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_0bf6e0ce-f7f5-08d4-146d-03c31f0c11b6-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0bf6e0ce-f7f5-08d4-146d-03c31f0c11bb-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ace200e4-b494-944d-1043-d12a29fb582c-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1d981ba5-f587-8905-b9c3-cdb08f60e123-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dc5fef6b-711a-a108-7a8b-bded60acf62c-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9e057777-bf23-10e0-4f4e-64bd20c82a61-327fbc05 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9e057777-bf23-10e0-4f4e-64bd20c82a66-327fbc05 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9e057777-bf23-10e0-4f4e-64bd20c82a6b-327fbc05 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_50ccebb2-28f9-53c4-1186-736f1bd8571a-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4855c884-7ed3-897b-8cca-46d7ebccd8a6-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c6760c61-201f-3dfc-334d-0440679d942e-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ccbd5a87-d71e-4583-c35c-69fc4ea9b48b-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c479f229-777b-4f40-a8ed-712057cbc94c-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_87965a50-f81b-5f30-6a99-bdabf5ba50f4-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_51fcb271-6fdf-44cd-a436-c01675c84812-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-df3e10c8-0ff6-8e86-e527-12a1222a7678-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_466d5924-9994-8d55-18c0-fde34edb5cdc-327fbc05 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_9c5b32e8-d208-edcd-4ef6-36383a13ce4c-327fbc05 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d16e-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d16f-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d170-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d171-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d172-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d175-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d176-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d177-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf4f5be0-01ee-e889-89f4-04ff7a03d178-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_57a5d166-75be-c397-b6f2-15ebc5d846db-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-beed6f1e-2dd0-a67c-ee53-dbe28d509382-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ac0112ae-53ee-1955-770f-de14a01dce96-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ee2c4062-6730-1378-1ef3-5b8fa0610910-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_96209b40-70c1-7b80-76f7-eaf8e7491817-327fbc05 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6193ac42-b6e7-0f87-82c4-a8cbc458e067-327fbc05 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9379b961-155c-77dc-d1ed-ba407470b9e4-327fbc05 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8e6a49cf-c1b1-6853-71e0-137a2c6db2e3-327fbc05 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-dbe63f75-d162-9475-4895-cfd76bb22ac3-327fbc05 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f0e1029a-1660-1f6a-4e8e-a6d892def050-327fbc05 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f3b7aa41-bc8d-cb8f-5991-36c6efc3e357-327fbc05 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_79303436-2012-3059-df65-2a6b246aa2ca-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_79303436-2012-3059-df65-2a6b246aa2cf-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_0200d0d2-2de1-a758-c2f6-cb92d8a9b8bf-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_23c5c55d-afed-afaa-05ff-9fb2d8c2e53e-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a08f5561-406b-5a80-8a14-32e616a85560-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6b544414-2647-4a62-09f3-f7eef464b4ea-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6b544414-2647-4a62-09f3-f7eef464b4f1-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6b544414-2647-4a62-09f3-f7eef464b4f8-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-fa7f39f0-d08b-7b71-bdfd-c715443b3d6c-d7bfa0d9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ebe6fab5-3bdb-cd55-5066-6e1cc9742ce5-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ebe6fab5-3bdb-cd55-5066-6e1cc9742ced-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-acf0cb12-85f9-3ce2-f376-9a47d747694b-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-acf0cb12-85f9-3ce2-f376-9a47d7476956-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-acf0cb12-85f9-3ce2-f376-9a47d747695b-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-acf0cb12-85f9-3ce2-f376-9a47d7476960-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-acf0cb12-85f9-3ce2-f376-9a47d7476965-986e0271 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_53b678c8-b5f3-9535-c10c-804c684e20b2-684e2071 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_53b678c8-b5f3-9535-c10c-804c684e20c0-684e2071 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_53b678c8-b5f3-9535-c10c-804c684e20c5-684e2071 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-acf0cb12-85f9-3ce2-f376-9a47d747694b-986e0271 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-acf0cb12-85f9-3ce2-f376-9a47d747694b-986e0271 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_53b678c8-b5f3-9535-c10c-804c684e20b2-684e2071 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_53b678c8-b5f3-9535-c10c-804c684e20c5-684e2071 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-c0ce7c5e-f7ce-5279-0ee7-9d592995bd77-2995bd71 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-beed6f1e-2dd0-a67c-ee53-dbe28d509382-327fbc05 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-acf0cb12-85f9-3ce2-f376-9a47d747694b-986e0271 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

