/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* body {
    background: rgb(209, 188, 253);
} */

/*===== VARIABLES CSS =====*/

:root {
    /*========== Font and typography ==========*/
    --body-font: 'Inter', sans-serif;

}

@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.background-section {
    background: rgb(229, 221, 246);
}

.navbar-color {
    background: rgb(54, 36, 93);
    background: linear-gradient(168deg, rgba(54, 36, 93, 1) 0%, rgba(179, 25, 73, 1) 100%);
}


/*========== BASE ==========*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*========== CLASS CSS ==========*/

.text-background {
    background: rgb(54, 36, 93);
    background: linear-gradient(168deg, rgba(54, 36, 93, 1) 0%, rgba(179, 25, 73, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}


/*========== LAYOUT ==========*/

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* Change background header */

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}


/*========== HOME ==========*/
.home__title {
    background: rgb(54, 36, 93);
    background: linear-gradient(168deg, rgba(54, 36, 93, 1) 0%, rgba(179, 25, 73, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__title_hire {
    background: rgb(54, 36, 93);
    background: linear-gradient(168deg, rgba(54, 36, 93, 1) 0%, rgba(179, 25, 73, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--biggest-font-size);
    margin-bottom: var(--mb-1);
    text-align: center;
}

/*========== BUTTONS ==========*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}


/*========== FOOTER ==========*/

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    /* color: rgb(54, 36, 93); */
    color: linear-gradient(168deg, rgba(54, 36, 93, 1) 0%, rgba(179, 25, 73, 1) 100%);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}

.footer__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}


/*========== MEDIA QUERIES ==========*/

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        width: 600px;
    }

    .about__container,
    .app__container {
        column-gap: 7rem;
    }
}


/* For tall screens on mobiles y desktop*/

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}